<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Google Sheets Table</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li class="list active">
                    <b></b>
                    <b></b>
                    <a href="/4217">
                        <span class="icon"><i class="fa-sharp fa-solid fa-4"></i><i class="fa-sharp fa-solid fa-2"></i><i class="fa-sharp fa-solid fa-1"></i><i class="fa-sharp fa-solid fa-7"></i></span>
                        <span class="title">Operador</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="/3654">
                        <span class="icon"><i class="fa-sharp fa-solid fa-3"></i><i class="fa-sharp fa-solid fa-6"></i><i class="fa-sharp fa-solid fa-5"></i><i class="fa-sharp fa-solid fa-4"></i></span>
                        <span class="title">Operador</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="/4238">
                        <span class="icon"><i class="fa-sharp fa-solid fa-4"></i><i class="fa-sharp fa-solid fa-2"></i><i class="fa-sharp fa-solid fa-3"></i><i class="fa-sharp fa-solid fa-8"></i></span>
                        <span class="title">Operador</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="/4200">
                        <span class="icon"><i class="fa-sharp fa-solid fa-4"></i><i class="fa-sharp fa-solid fa-2"></i><i class="fa-sharp fa-solid fa-0"></i><i class="fa-sharp fa-solid fa-0"></i></span>
                        <span class="title">Operador</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="toggle">
        <i class="fa-sharp fa-solid fa-bars" id ='open'></i>
        <i class="fa-sharp fa-solid fa-xmark" id = 'close'></i>
    </div>
    <div id= 'operadores'>
        {% block body %}
        {% endblock %}
    </div>
    <script src="static\js\navbar.js"></script>

    <script>
        $(document).ready(function() {
            // Função para enviar a linha para o backend quando o botão for clicado
            $('.botao-enviar-linha').on('click', function() {
                var linha = $(this).closest('tr');
                var dadosLinha = [];

                // Itera sobre as células da linha e armazena os valores em um array
                linha.find('input, select').each(function() {
                    var valor = $(this).val();
                    dadosLinha.push(valor);
                });

                // Envia a linha para o backend usando AJAX
                $.ajax({
                    url: '/send_row',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(dadosLinha),
                    success: function(response) {
                        alert(response.mensagem);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
                
                location.reload(); // Atualiza a página
            });
        });

    </script>
</body>
</html>
