<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome-4.7.0\css\font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Google Sheets Table</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }

        th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="/"></a>
                    <span class="icon"></span>
                </li>
                <li>
                    <a href="/"></a>
                    <span class="icon"></span>
                </li>
                <li>
                    <a href="/"></a>
                    <span class="icon"></span>
                </li>
                <li>
                    <a href="/"></a>
                    <span class="icon"></span>
                </li>
            </ul>
        </div>
    </div>
    <h1>Google Sheets Table</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Código</th>
                <th>Descrição</th>
                <th>Qt. Prog.</th>
                <th>Qt. Real</th>
                <th>Mortas</th>
                <th>Máquina</th>
                <th>Finalizou?</th>
            </tr>
        </thead>
        <tbody>
            {% for data in sheet_data %}
            <tr>
                <td><input type="text" value="{{ data[0] }}" disabled></td>
                <td><input type="text" value="{{ data[1] }}" disabled></td>
                <td><input type="text" value="{{ data[2] }}" disabled></td>
                <td><input type="text" value="{{ data[3] }}" disabled></td>
                <td><input type="text" value="{{ data[4] }}" disabled></td>
                <td><input type="text" value="{{ data[5] }}" /></td>
                <td><input type="text" value="{{ data[6] }}" /></td>
                <td>
                    <select>
                        <option value="" disabled hidden></option>
                        <option value="Maq 1">Maq 1</option>
                        <option value="Maq 2">Maq 2</option>
                    </select>
                </td>
                <td>
                    <select>
                        <option value="" disabled hidden></option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                </td>
                <td><button class="botao-enviar-linha">Enviar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            // Função para enviar a linha para o backend quando o botão for clicado
            $('.botao-enviar-linha').on('click', function() {
                var linha = $(this).closest('tr');
                var dadosLinha = [];

                // Itera sobre as células da linha e armazena os valores em um array
                linha.find('input, select').each(function() {
                    var valor = $(this).val();
                    dadosLinha.push(valor);
                });

                // Envia a linha para o backend usando AJAX
                $.ajax({
                    url: '/send_row',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(dadosLinha),
                    success: function(response) {
                        alert(response.mensagem);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
                
                location.reload(); // Atualiza a página
            });
        });

    </script>
</body>
</html>
