{% extends "index.html" %}
{% block body %}
  <div class="table-container">
    <h1 id = 'titulo'>Operador 4200</h1>
    <div id ='planilha'>
        <table>
            <thead>
                <tr id = 'nomes_colunas' >
                    <th>Id</th>
                    <th>Data</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Qt. Prog.</th>
                    <th>Qt. Real</th>
                    <th>Mortas</th>
                    <th>Motivo</th>
                    <th>Máquina</th>
                    <th>Finalizou?</th>
                </tr>
            </thead>
            <tbody>
                {% if sheet_data %}
                    {% for data in sheet_data %}
                    <tr>
                        <td><input id = 'id' type="text" value="{{ data[0] }}" disabled style="background-color: rgb(241, 240, 240);"></td>
                        <td><input id = 'data' type="text" value="{{ data[1] }}" disabled style="background-color: rgb(241, 240, 240);"></td>
                        <td><input id = 'codigo' type="text" value="{{ data[2] }}" disabled style="background-color: rgb(241, 240, 240);"></td>
                        <td><input id = 'descricao' type="text" value="{{ data[3] }}" disabled style="background-color: rgb(241, 240, 240);"></td>
                        <td><input id = 'qt_prog' type="text" value="{{ data[4] }}" disabled style="background-color: rgb(241, 240, 240);"></td>
                        <td><input id = 'qt_real' type="text" value="{{ data[5] }}" /></td>
                        <td><input id = 'mortas' type="text" value="{{ data[8] }}" /></td>
                        <td><input id = 'motivo' type="text" value="{{ data[9] }}" /></td>
                        <td>
                            <select id = 'maquina'>
                              <option value="" disabled hidden></option>
                              <option value="VIRADEIRA 1">VIRADEIRA 1</option>
                              <option value="VIRADEIRA 2">VIRADEIRA 2</option>
                              <option value="VIRADEIRA 3">VIRADEIRA 3</option>
                              <option value="VIRADEIRA 4">VIRADEIRA 4</option>
                              <option value="VIRADEIRA 5">VIRADEIRA 5</option>
                              <option value="PRENSA">PRENSA</option>
                              <option value="FORJARIA">FORJARIA</option>
                              <option value="MONTAGEM">MONTAGEM</option>
                            </select>
                        </td>
                        <td>
                            <select id = 'finalizou'>
                                <option value="" disabled hidden></option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </td>
                        <td><button class="botao-enviar-linha" onclick="showLoading()">Enviar</button></td>
                    </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="9">Nenhum dado disponível</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>
<script>

  $(document).ready(function() {
    $('.botao-enviar-linha').on('click', function() {
      var linha = $(this).closest('tr');
      var dadosLinha = [];

      linha.find('input, select').each(function() {
        var valor = $(this).val();
        dadosLinha.push(valor);
      });

      $.ajax({
        url: '/send_row_4200',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(dadosLinha),
        success: function(response) {
          alert(response.mensagem);
          window.location.reload(); // Recarrega a página após o sucesso
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  });

</script>
{% endblock %}